<br/>
<div style='border-top: 1px solid #eee'></div>
<p style='margin:0; margin-top: 40px'>{{ __('copyright.license', '<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/cn/" rel="external nofollow" target="_blank">CC BY-NC-SA 3.0 CN</a>') }}
<br/>
{{ __('copyright.link') }} <a href="{{ url_for(page.permalink) }}">{{ url_for(page.permalink) }}</a></p>