{{ if partial "func/comments-enabled.html" . }}
  <div class="comments" id="comments">
    {{ if site.Config.Services.Disqus.Shortname }}
    <div style="text-align:center;display: none;">
        <button class="btn" id="load-disqus" onclick="disqus.load();">{{ T "comments.load" (dict "name" "Disqus") }}</button>
    </div>
      <div id="disqus_thread">
        <noscript>
          {{ T "comments.noscript" (dict "url" "//disqus.com/?ref_noscript") | safeHTML }}
        </noscript>
      </div>
    {{ end }}
  </div>
{{ end }}
