{% macro render() %}
<div id="primary">
  <section id="archive" class="archive">
    {% if not page.prev %}
      {% if page.tag %}
        <div class="archive-title tag">
          <h2 class="archive-name">{{ page.tag }}</h2>
        </div>
      {% elif page.category %}
        <div class="archive-title category">
          <h2 class="archive-name">{{ page.category }}</h2>
        </div>
      {% endif %}
    {% endif %}

    {# Declared outside the loop so the assignment below carries over to the next iteration #}
    {% set year = '' %}
    {% for post in page.posts | toarray %}
      {% if page.archive %}
        {% set post_year = date(post.date, 'YYYY') %}

        {% if post_year !== year %}
          {% set year = post_year %}
          <div class="collection-title">
            <h2 class="archive-year">{{ year }}</h2>
          </div>
        {% endif %}
      {% endif %}

      <div class="archive-post">
        <span class="archive-post-time">
          {% if page.archive %}
            {{ date(post.date, 'MMM DD') }}
          {% else %}
            {{ date(post.date, 'YYYY-MM-DD') }}
          {% endif %}
        </span>
        <span class="archive-post-title">
          <a href="{{ url_for(post.path) }}" class="archive-post-link">
            {{ post.title }}
          </a>
        </span>
      </div>
    {% endfor %}
  </section>
 </div>

  {% include '_partial/pagination.njk' %}
{% endmacro %}
